
# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Package Files
*.jar
*.war
*.ear

# Gradle
.gradle/
**/.gradle/
build/
**/build/
*.log
*.lock
.gradle-cache/
**/.gradle-cache/

### IntelliJ IDEA ###
.idea
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

account-service/gradle/
loan-service/gradle/
transaction-service/gradle/

account-service/build/
loan-service/build/
transaction-service/build/

# IDEs
/.idea/
/.idea/*

.DS_Store